@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply font-sans;
  }
}

@layer components {
  .grid-box {
    @apply md:max-w-grid-md lg:max-w-grid-lg ;
  }

  .logo {
    @apply flex items-center;
  }

  .logo:hover img {
    transform: rotate(15deg) scale(1.5);
    transition: 0.3s;
  }

  .nav-paw {
    @apply hidden lg:block lg:mr-4 w-5 h-5 duration-300;
  }

  .nav-sns-link {
    @apply p-2 w-8 h-8 bg-white border-lightGray border-[1px] rounded-[50%] duration-300 hover:scale-150;
  }

  .nav-donate:hover {
    @apply bg-white text-lightPink;
  }

  .btn-goDonate {
    @apply col-span-2 self-start flex justify-center items-center py-3 text-lightPink text-xl font-bold bg-white rounded-[6px];
  }

  .btn-goDonate:hover img {
    @apply duration-300 rotate-90 scale-150;
  }

  .btn-goTop:hover {
    @apply duration-300 scale-150;
  }

  .card-donate {
    @apply flex flex-col justify-center items-center md:px-8 2xl:px-12 py-3 bg-brown rounded-3xl;
  }

  .form-input {
    @apply px-4 py-3 w-full border-lightGray border-[1px] rounded-md;
  }

  .footer-link {
    @apply p-[10px] w-10 h-10 bg-white border-lightGray border-[1px] rounded-[50%] duration-300 hover:scale-110;
  }
}

@layer utilities {
  .writing-v {
    writing-mode: vertical-lr;
  }
}

.slogan {
  background-attachment: fixed;
}

.policy {
  background-attachment: fixed;
}

.slogan-paws {
  animation: jumping 2s linear infinite;
}

.marquee ul {
  animation: slide 20s linear infinite;
}

@keyframes jumping {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}