@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  img {
    width: 100%;
    height: auto;
  }
}

@layer components {
  .grid-box {
    @apply md:max-w-grid-md lg:max-w-grid-lg;
  }

  .logo {
    @apply flex items-center;
  }

  .logo:hover img {
    transform: rotate(15deg) scale(1.5);
    transition: 0.3s;
  }

  .nav-paw {
    @apply hidden lg:block lg:mr-4 w-5 h-5 duration-300;
  }

  .nav-sns-link {
    @apply p-2 w-8 h-8 border-gray border-[1px] rounded-[50%] duration-300 hover:scale-150;
  }
}
