@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply font-sans;
  }
}

@layer components {
  .box-p {
    @apply px-3 md:px-9 2xl:px-[88.5px];
  }

  .burger-button:checked ~ img {
    @apply rotate-90 duration-300;
  }

  .title-sm {
    @apply 2xl:hidden relative col-span-2 flex items-end text-black md:text-2xl font-bold;
  }

  .title-sm::before {
    @apply absolute left-3 block w-[68px] md:w-[120px] content-['*'] text-transparent text-[8px] md:text-sm -z-10;
  }

  .burger-button:checked ~ .burger-list {
    @apply block;
    animation: menu 0.3s;
  }

  .news-date {
    @apply 2xl:hidden absolute bottom-2 flex justify-center items-center py-1 px-3 bg-[rgba(0,0,0,0.5)] rounded-[10px] text-white text-[8px];
    backdrop-filter: blur(4px);
  }

  .policy-mainItem {
    @apply border-[#000000] border-2 rounded-[50px];
  }

  .news-content {
    @apply absolute flex-col justify-center items-center 2xl:p-0 w-full h-full bg-black-mid rounded-[50px] tracking-widest text-center;
  }

  .news-checkbox:checked ~ .news-date {
    @apply hidden;
  }

  .news-checkbox:checked ~ .news-content {
    @apply flex 2xl:hidden;
  }

  .btn-goDonate {
    @apply col-span-2 self-start flex justify-center items-center py-2 md:py-3 bg-white border-[1px] 2xl:border-0  border-black rounded-[6px] text-pink-mid text-xs 2xl:text-xl font-bold tracking-widest;
  }

  .btn-goDonate:hover img {
    @apply duration-300 rotate-90 scale-150;
  }

  .btn-goTop:hover {
    @apply duration-300 scale-150;
  }

  .btn-donate {
    @apply block mb-2 2xl:mb-4 py-2 2xl:py-3 bg-black w-[100px] 2xl:w-36 text-white text-[11px] 2xl:text-base rounded-md hover:bg-gray-900 duration-300 tracking-widest;
  }

  .btn-form {
    @apply block px-4 py-2 bg-black text-white rounded-md hover:bg-gray-900 duration-300;
  }

  .card-donate {
    @apply flex flex-row  2xl:flex-col justify-between 2xl:justify-center items-center px-3 py-5 2xl:px-12 2xl:py-3 w-[280px] h-[140px] md:w-[386px] md:h-[189px] 2xl:w-auto 2xl:h-auto bg-brown border-[1px] 2xl:border-0 border-black rounded-3xl;
    transform-style: preserve-3d;
  }

  .card-donate img {
    @apply w-[100x] h-[100px] md:w-[160px] md:h-[160px] 2xl:w-[200px] 2xl:h-[200px];
  }

  .form-input {
    @apply px-4 py-3 w-full border-gray-light border-[1px] rounded-md focus:border-black focus:outline-none focus:ring-0;
  }

  .donate-input {
    @apply py-2 px-3 w-full h-9 text-sm border-[1px] border-slate-light rounded-md  placeholder:text-slate focus:border-black focus:outline-none focus:ring-0;
  }

  .slogan-paw {
    @apply w-5 2xl:w-[44px] h-5 2xl:h-[44px] rotate-12 duration-300;
  }

  .footer-link {
    @apply p-2 md:p-[10px] w-8 h-8 md:w-10 md:h-10 bg-white border-gray-light border-[1px] rounded-[50%] duration-300 hover:scale-110;
  }
}

@layer utilities {
  .writing-v {
    writing-mode: vertical-lr;
  }

  .bg-fixed {
    background-attachment: fixed;
  }
}

.logo:hover img {
  transform: rotate(15deg) scale(1.5);
  transition: 0.3s;
}

.section-policy {
  background-attachment: fixed;
}

.slogan-paws {
  animation: jumping 2s linear infinite;
}

.marquee ul {
  animation: slide 20s linear infinite;
}

.news-slider {
  animation: newsSlide 15s linear infinite alternate;
}

.news-slider:hover {
  animation-play-state: paused;
}

.section-donate {
  background-attachment: fixed;
}

.card-donate:hover img {
  box-shadow: 0 1px 10px 0px gray;
  transform: translateZ(0px);
}

.carousel-item {
  transition: 1s;
}

.paws li {
  animation: jumping 2s ease-in-out infinite;
}
.paws li:nth-child(1) {
  animation-delay: 0s;
}
.paws li:nth-child(2) {
  animation-delay: 0.2s;
}
.paws li:nth-child(3) {
  animation-delay: 0.4s;
}
.paws li:nth-child(4) {
  animation-delay: 0.6s;
}
.paws li:nth-child(5) {
  animation-delay: 0.8s;
}
.paws li:nth-child(6) {
  animation-delay: 1s;
}

@media (max-width: 767px) {
  .btn-goDonate img {
    content: url("../src/images/icon-arrow-sm.svg");
  }

  .header-image {
    content: url("../src/images/header-image-sm.svg");
  }

  .news-img-1 {
    content: url("../src/images/news-1-sm.jpg");
  }
  .news-img-2 {
    content: url("../src/images/news-2-sm.jpg");
  }
  .news-img-3 {
    content: url("../src/images/news-3-sm.jpg");
  }

  .policy-number-1 {
    content: url("../src/images/policy-1-sm.svg");
  }
}

@keyframes menu {
  0% {
    transform-origin: top;
    transform: scaleY(0);
  }

  100% {
    transform-origin: top;
    transform: scaleY(1);
  }
}

@keyframes jumping {
  0% {
    transform: scale(1) rotate(12deg);
  }

  50% {
    transform: scale(1.5) rotate(-24deg);
  }

  100% {
    transform: scale(1) rotate(12deg);
  }
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes newsSlide {
  0% {
    transform: translateX(15%);
  }

  5% {
    transform: translateX(15%);
  }

  95% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(-50%);
  }
}
