<link rel="stylesheet" href="../../dist/output.css" />
<section
  class="section-donate pt-6 pb-10 2xl:pt-10 2xl:pb-6 bg-paws-sm 2xl:bg-[none] 2xl:bg-no-repeat bg-top 2xl:bg-center bg-contain"
>
  <div class="container mx-auto">
    <div
      class="hidden 2xl:grid grid-cols-4 2xl:grid-cols-12 gap-x-6 2xl:gap-x-[30px] box-p mx-auto"
    >
      <div class="col-span-4 flex items-center pt-4 pr-8">
        <ul class="absolute flex gap-1 -ml-16 pt-4">
          <li class="w-3 h-3 bg-brown rounded-xl"></li>
          <li class="w-3 h-3 bg-gray-light rounded-xl"></li>
          <li class="w-3 h-3 bg-gray-light rounded-xl"></li>
        </ul>
        <div
          class="relative flex items-center w-full max-h-[96px] bg-pink rounded-3xl"
        >
          <div class="relative self-end ml-2 max-w-[160px]">
            <img src="../images/title-image.png" alt="title-image" />
          </div>
          <h2 class="ml-7 text-white text-[32px] font-bold">線上捐款</h2>
        </div>
      </div>
    </div>
    <div
      class="relative flex flex-col items-center 2xl:mt-10 2xl:pb-10 box-p 2xl:bg-dots-r 2xl:bg-center bg-cover"
    >
      <h2 class="self-start title-sm col-span-2">線上捐款</h2>
      <h3
        class="hidden 2xl:block mb-2 text-black text-2xl font-bold text-center"
      >
        您的小筆捐款，是每隻毛孩未來的大大動力！
      </h3>
      <p class="hidden 2xl:block text-black text-center">
        謝謝您的捐款，我們期待集合眾人的力量來改造台灣
      </p>
      <p class="2xl:hidden text-black text-sm text-center tracking-widest">
        您的小筆捐款，是每隻毛孩未來的大大動力！
      </p>
      <p class="2xl:hidden text-black text-sm text-center tracking-widest">
        我們期待集合眾人的力量來改造台灣
      </p>
      <ul
        class="flex flex-col 2xl:flex-row items-center gap-8 mt-4 2xl:mt-10 px-7 2xl:px-6"
      >
        <li class="card-donate donate-tilt">
          <div class="2xl:mb-2">
            <img
              class="rounded-[50%]"
              src="../images/donate-1.svg"
              alt="donate-NTD600"
            />
          </div>
          <div class="flex flex-col items-center">
            <h4
              class="mb-1 2xl:mb-2 text-black text-sm 2xl:text-xl 2xl:font-bold"
            >
              喵星人之友
            </h4>
            <span
              class="mb-2 2xl:mb-4 text-[#A66641] text-[11px] 2xl:text-base font-semibold"
              >NT 600</span
            >
            <button class="btn-donate" href="#" dollar="600">
              成為喵星人之友
            </button>
            <span
              class="text-black text-[10px] 2xl:text-sm tracking-wider whitespace-nowrap"
              >已有 9,957 喵喵夥伴贊助</span
            >
          </div>
        </li>
        <li class="card-donate donate-tilt">
          <div class="2xl:mb-2">
            <img
              class="rounded-[50%]"
              src="../images/donate-2.svg"
              alt="donate-NTD6000"
            />
          </div>
          <div class="flex flex-col items-center">
            <h4
              class="mb-1 2xl:mb-2 text-black text-sm 2xl:text-xl 2xl:font-bold"
            >
              喵星大使
            </h4>
            <span
              class="mb-2 2xl:mb-4 text-[#A66641] text-[11px] 2xl:text-base font-semibold"
              >NT 6000</span
            >
            <button class="btn-donate" href="#" dollar="600">
              成為喵星大使
            </button>
            <span
              class="text-black text-[10px] 2xl:text-sm tracking-wider whitespace-nowrap"
              >已有 2,000 喵喵夥伴贊助</span
            >
          </div>
        </li>
        <li class="card-donate donate-tilt">
          <div class="2xl:mb-2">
            <img
              class="rounded-[50%]"
              src="../images/donate-3.svg"
              alt="donate-NTD6000"
            />
          </div>
          <div class="flex flex-col items-center">
            <h4
              class="mb-1 2xl:mb-2 text-black text-sm 2xl:text-xl 2xl:font-bold"
            >
              喵星傳奇
            </h4>
            <span
              class="mb-2 2xl:mb-4 text-[#A66641] text-[11px] 2xl:text-base font-semibold"
              >NT 60000</span
            >
            <button class="btn-donate" href="#" dollar="60000">
              成為喵星傳奇
            </button>
            <span
              class="text-black text-[10px] 2xl:text-sm tracking-wider whitespace-nowrap"
              >已有 999 喵喵夥伴贊助</span
            >
          </div>
        </li>
        <li class="card-donate donate-tilt">
          <div class="2xl:mb-2">
            <img
              class="rounded-[50%]"
              src="../images/donate-4.svg"
              alt="donate-NTD600"
            />
          </div>
          <div class="flex flex-col items-center">
            <h4
              class="mb-1 2xl:mb-2 text-black text-sm 2xl:text-xl 2xl:font-bold"
            >
              喵喵愛人
            </h4>
            <span
              class="mb-2 2xl:mb-4 text-[#A66641] text-[11px] 2xl:text-base font-semibold"
              >自訂金額，心意無價</span
            >
            <button class="btn-donate" href="#" dollar="600">
              成為喵喵愛人
            </button>
            <span
              class="text-black text-[10px] 2xl:text-sm tracking-wider whitespace-nowrap"
              >已有 999 喵喵夥伴贊助</span
            >
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
