<link rel="stylesheet" href="../../dist/output.css" />
<footer class="flex flex-col items-center py-6 bg-pink text-white text-center">
  <ul class="flex mb-4 md:mb-6 mx-auto gap-4">
    <li class="footer-link">
      <a class="flex justify-center items-center" href="#"
        ><img src="../images/icon-facebook.svg" alt="link-facebook"
      /></a>
    </li>
    <li class="footer-link">
      <a class="flex justify-center items-center" href="#"
        ><img src="../images/icon-twitter.svg" alt="link-twitter"
      /></a>
    </li>
    <li class="footer-link">
      <a class="flex justify-center items-center" href="#"
        ><img src="../images/icon-youtube.svg" alt="link-youtube"
      /></a>
    </li>
    <li class="footer-link">
      <a class="flex justify-center items-center" href="#"
        ><img src="../images/icon-linkedin.svg" alt="link-linkedin"
      /></a>
    </li>
  </ul>
  <ul class="flex flex-col gap-2 mb-4 md:mb-6 text-sm">
    <li>喵星區，毛茸茸大道88號，喵喵大樓3樓</li>
    <li>meowoffice@linmeow.tw</li>
    <li>(02) 888-5678</li>
  </ul>
  <span class="">© 2023 喵立翰</span>
</footer>
