<link rel="stylesheet" href="../../dist/output.css" />
<!-- main popout -->
<div
  class="popout fixed top-0 z-50 justify-center items-center px-4 w-full h-full bg-[rgba(50,50,50,0.25)]"
>
  <div
    class="mail-hint flex flex-col p-6 max-w-[425px] bg-white border-[1px] border-slate-light rounded-md"
  >
    <button class="btn-close self-end">
      <img src="../images/btn-close.svg" alt="button-close" />
    </button>
    <p class="text-pink text-sm md:text-base font-bold text-center">
      感謝您填寫服務信箱
    </p>
    <p class="mt-4 mb-8 text-black text-sm md:text-base text-center">
      我們已成功收到您的訊息，請靜待回覆。
    </p>
  </div>
</div>
