<link rel="stylesheet" href="../../dist/output.css" />
<!-- mail -->
<section
  class="relative xl:mt-[86px] bg-brown-light xl:bg-circle bg-no-repeat bg-cover bg-center xl:rounded-t-[50px] overflow-hidden"
>
  <div class="container mx-auto box-p">
    <div
      class="relative grid grid-cols-4 md:grid-cols-6 xl:grid-cols-12 gap-x-6 xl:gap-x-[30px] content-center mx-auto pt-6 pb-10 md:pb-12 xl:py-20"
    >
      <!-- title -->
      <div
        class="relative xl:absolute xl:-top-[72px] z-10 col-span-2 xl:col-span-4 flex items-center mb-4 xl:mr-8 xl:pt-4 max-w-[410px]"
      >
        <ul class="absolute hidden xl:flex gap-1 mt-4 -ml-16">
          <li class="w-3 h-3 bg-brown rounded-xl"></li>
          <li class="w-3 h-3 bg-gray-light rounded-xl"></li>
          <li class="w-3 h-3 bg-gray-light rounded-xl"></li>
        </ul>
        <div class="flex items-center w-full xl:h-24 xl:bg-pink rounded-3xl">
          <img
            class="hidden xl:block self-end ml-2 w-40"
            src="../images/title-image.png"
            alt="title-image"
          />
          <h2 class="title before:bg-pink">喵服務信箱</h2>
        </div>
      </div>
      <!-- content -->
      <div
        class="col-span-2 md:col-span-3 xl:col-span-4 col-start-2 md:col-start-1 xl:col-start-2 flex flex-col justify-center xl:px-4 text-center md:text-left tracking-widest"
      >
        <h3
          class="mb-4 xl:mb-3 text-black text-sm md:text-base lg:text-2xl font-bold whitespace-nowrap"
        >
          您的聲音，我們的行動！
        </h3>
        <p
          class="hidden md:block text-black md:text-sm xl:text-base leading-[1.6]"
        >
          親愛的鄉親，每一位市民的意見都是我們社區前進的原動力。無論大小事，我都誠摯希望聽到您的建議。分享您的想法，一同為我們的未來打造更美好！
        </p>
        <p class="mb-6 md:hidden text-black text-[10px] leading-[1.6]">
          喵立翰誠摯希望聽到您的建議<br />
          市民的意見是我們前進的動力<br />
          一同為我們的未來打造更美好<br />
        </p>
        <button
          class="md:hidden col-span-2 col-start-2 mx-auto py-4 w-40 bg-brown border-[1px] border-black rounded-md text-black text-xs"
          type="button"
        >
          填寫服務信箱
        </button>
        <ul class="hidden md:flex flex-col gap-2 xl:gap-9 mt-10 xl:mt-14">
          <li class="md:order-2 xl:order-[0] flex items-center">
            <div
              class="mr-3 xl:mr-6 p-[10px] xl:p-5 w-10 h-10 xl:w-[70px] xl:h-[70px] bg-black-light rounded-[5px]"
            >
              <img src="../images/icon-house.svg" alt="icon-house" />
            </div>
            <div>
              <h4
                class="md:hidden xl:block mb-[10px] text-black text-lg font-semibold"
              >
                聯絡地址
              </h4>
              <p class="text-[#637381] text-xs xl:text-base">
                高雄市新興區民生一路 56 號
              </p>
            </div>
          </li>
          <li class="flex items-center">
            <div
              class="mr-3 xl:mr-6 p-[10px] xl:p-5 w-10 h-10 xl:w-[70px] xl:h-[70px] bg-black-light rounded-[5px]"
            >
              <img src="../images/icon-phone.svg" alt="icon-phone" />
            </div>
            <div>
              <h4
                class="md:hidden xl:block mb-[10px] text-black text-lg font-semibold"
              >
                聯絡電話
              </h4>
              <p class="text-[#637381] text-xs xl:text-base">(02)1234-5678</p>
            </div>
          </li>
          <li class="flex items-center">
            <div
              class="mr-3 xl:mr-6 p-[10px] xl:p-5 w-10 h-10 xl:w-[70px] xl:h-[70px] bg-black-light rounded-[5px]"
            >
              <img src="../images/icon-mail.svg" alt="icon-mail" />
            </div>
            <div>
              <h4
                class="md:hidden xl:block mb-[10px] text-black text-lg font-semibold"
              >
                聯絡信箱
              </h4>
              <p class="text-[#637381] text-xs xl:text-base">
                miaomia@contact.tw
              </p>
            </div>
          </li>
        </ul>
      </div>
      <div
        class="hidden z-10 md:block col-span-3 xl:col-span-6 px-7 xl:px-16 py-6 xl:py-10 bg-white shadow-md rounded-lg"
      >
        <form class="m-0" action="#">
          <ul class="flex flex-wrap gap-4 xl:gap-6">
            <li class="flex-grow">
              <p class="text-sm xl:text-base">
                您的姓名 <span class="text-pink">*</span>
              </p>
              <input
                class="form-input"
                type="text"
                name="username"
                placeholder="請輸入您的姓名"
              />
            </li>
            <li class="flex-grow">
              <p class="text-sm xl:text-base">
                您的電話 <span class="text-pink">*</span>
              </p>
              <input
                class="form-input"
                type="text"
                name="phone"
                placeholder="請輸入您的電話號碼"
              />
            </li>
            <li class="w-full">
              <p class="text-sm xl:text-base">
                您的信箱 <span class="text-pink">*</span>
              </p>
              <input
                class="form-input"
                type="text"
                name="phone"
                placeholder="請輸入您的電話號碼"
              />
            </li>
            <li class="w-full">
              <p class="text-sm xl:text-base">
                您的訊息 <span class="text-pink">*</span>
              </p>

              <textarea
                class="form-input h-20 xl:h-32"
                type="text"
                name="message"
                placeholder="請輸入您的訊息"
              ></textarea>
            </li>
          </ul>
          <button
            class="block mt-4 xl:mt-7 mx-auto py-3 w-full xl:w-[75%] bg-brown rounded-md text-black"
            type="submit"
          >
            送出訊息
          </button>
        </form>
      </div>
    </div>
  </div>
  <img
    class="xl:hidden absolute -left-20 md:-left-6 bottom-0 w-[150px]"
    src="../images/square-dots.svg"
    alt="square-dots"
  />
  <img
    class="xl:hidden absolute -right-20 md:-right-6 top-0 w-[150px]"
    src="../images/square-dots.svg"
    alt="square-dots"
  />
</section>
