<link rel="stylesheet" href="../../dist/output.css" />
<section
  class="marquee py-4 border-t-[1px] border-b-[1px] border-[#F1F1F1] overflow-hidden"
>
  <ul class="flex gap-x-4 text-[#C4C4C4]">
    <li class="shrink-0 flex items-center">
      <span class="mr-2 text-pink-mid">✦</span><span>票投喵立漢</span>
    </li>
    <li class="shrink-0 flex items-center">
      <span class="mr-2 text-pink-mid">✦</span><span>為喵星人，護台灣！</span>
    </li>
    <li class="shrink-0 flex items-center">
      <span class="mr-2 text-pink-mid">✦</span><span>票投喵立漢</span>
    </li>
    <li class="shrink-0 flex items-center">
      <span class="mr-2 text-pink-mid">✦</span><span>為喵星人，護台灣！</span>
    </li>
    <li class="shrink-0 flex items-center">
      <span class="mr-2 text-pink-mid">✦</span><span>票投喵立漢</span>
    </li>
    <li class="shrink-0 flex items-center">
      <span class="mr-2 text-pink-mid">✦</span><span>為喵星人，護台灣！</span>
    </li>
    <li class="shrink-0 flex items-center">
      <span class="mr-2 text-pink-mid">✦</span><span>票投喵立漢</span>
    </li>
    <li class="shrink-0 flex items-center">
      <span class="mr-2 text-pink-mid">✦</span><span>為喵星人，護台灣！</span>
    </li>
    <li class="shrink-0 flex items-center">
      <span class="mr-2 text-pink-mid">✦</span><span>票投喵立漢</span>
    </li>
    <li class="shrink-0 flex items-center">
      <span class="mr-2 text-pink-mid">✦</span><span>為喵星人，護台灣！</span>
    </li>
    <li class="shrink-0 flex items-center">
      <span class="mr-2 text-pink-mid">✦</span><span>票投喵立漢</span>
    </li>
    <li class="shrink-0 flex items-center">
      <span class="mr-2 text-pink-mid">✦</span><span>為喵星人，護台灣！</span>
    </li>
    <li class="shrink-0 flex items-center">
      <span class="mr-2 text-pink-mid">✦</span><span>票投喵立漢</span>
    </li>
    <li class="shrink-0 flex items-center">
      <span class="mr-2 text-pink-mid">✦</span><span>為喵星人，護台灣！</span>
    </li>
    <li class="shrink-0 flex items-center">
      <span class="mr-2 text-pink-mid">✦</span><span>票投喵立漢</span>
    </li>
    <li class="shrink-0 flex items-center">
      <span class="mr-2 text-pink-mid">✦</span><span>為喵星人，護台灣！</span>
    </li>
    <li class="shrink-0 flex items-center">
      <span class="mr-2 text-pink-mid">✦</span><span>票投喵立漢</span>
    </li>
    <li class="shrink-0 flex items-center">
      <span class="mr-2 text-pink-mid">✦</span><span>為喵星人，護台灣！</span>
    </li>
    <li class="shrink-0 flex items-center">
      <span class="mr-2 text-pink-mid">✦</span><span>票投喵立漢</span>
    </li>
    <li class="shrink-0 flex items-center">
      <span class="mr-2 text-pink-mid">✦</span><span>為喵星人，護台灣！</span>
    </li>
    <li class="shrink-0 flex items-center">
      <span class="mr-2 text-pink-mid">✦</span><span>票投喵立漢</span>
    </li>
    <li class="shrink-0 flex items-center">
      <span class="mr-2 text-pink-mid">✦</span><span>為喵星人，護台灣！</span>
    </li>
    <li class="shrink-0 flex items-center">
      <span class="mr-2 text-pink-mid">✦</span><span>票投喵立漢</span>
    </li>
    <li class="shrink-0 flex items-center">
      <span class="mr-2 text-pink-mid">✦</span><span>為喵星人，護台灣！</span>
    </li>
  </ul>
</section>
