<link rel="stylesheet" href="../../dist/output.css" />
<!-- policy -->
<section
  class="section-policy xl:mt-10 pt-6 xl:pt-10 pb-10 xl:pb-8 bg-paws bg-no-repeat bg-center bg-cover md:bg-contain"
>
  <div class="container mx-auto box-p">
    <!-- title -->
    <div
      class="relative z-10 col-span-2 xl:col-span-4 flex items-center xl:mr-8 xl:pt-4 max-w-[410px]"
    >
      <ul class="absolute hidden xl:flex gap-1 mt-4 -ml-16">
        <li class="w-3 h-3 bg-brown rounded-xl"></li>
        <li class="w-3 h-3 bg-gray-light rounded-xl"></li>
        <li class="w-3 h-3 bg-gray-light rounded-xl"></li>
      </ul>
      <div class="flex items-center w-full xl:h-24 xl:bg-pink rounded-3xl">
        <img
          class="hidden xl:block self-end ml-2 w-40"
          src="./src/images/title-image.png"
          alt="title-image"
        />
        <h2 class="title before:bg-brown">喵立翰主張</h2>
      </div>
    </div>
    <!-- content -->
    <div
      class="grid grid-cols-4 md:grid-cols-6 xl:grid-cols-12 gap-x-6 xl:gap-x-[30px] mt-4 xl:mt-10"
    >
      <div
        class="col-span-2 md:col-span-3 xl:col-span-6 grid grid-cols-2 md:grid-cols-3 xl:grid-cols-6 grid-rows-[auto,1fr] md:items-center gap-x-6 xl:gap-x-[30px] leading-none md:leading-normal"
      >
        <div
          class="col-span-2 md:col-span-1 xl:col-span-2 flex flex-col md:items-center"
        >
          <p class="policy-number text-black md:text-2xl xl:text-[32px]">01</p>
          <img
            class="mt-2 w-28 md:w-full xl:w-[65%]"
            src="./src/images/curve.svg"
            alt="curve"
          />
          <div
            class="hidden md:flex flex-col md:gap-3 gap-6 mt-2 xl:mt-4 writing-v leading-none tracking-[0.325em]"
          >
            <h3
              class="hidden md:block xl:pt-1 text-pink-mid xl:text-[32px] font-bold tracking-[0.5em]"
            >
              我是喵立翰
            </h3>
            <p class="text-[#959292] xl:text-black md:text-sm xl:text-base">
              <span class="hidden xl:inline"
                >我期望能在立法院內推進這些政策</span
              ><span class="xl:hidden">期望能推進這些政策</span>
            </p>
            <p class="text-[#959292] xl:text-black md:text-sm xl:text-base">
              <span class="hidden xl:inline"
                >確保每一隻貓咪都能得到應有的照顧</span
              ><span class="xl:hidden">確保每隻貓咪得到照顧</span>
            </p>
          </div>
        </div>
        <div class="policy-content col-span-2 xl:col-span-4 flex flex-col">
          <h3 class="hidden xl:block text-black text-2xl font-bold">
            為毛孩子謀福利！推動寵物醫療保障方案
          </h3>
          <h3 class="xl:hidden mt-1 md:m-0 text-black text-sm md:text-base">
            為毛孩子謀福利！<br />
            推動寵物醫療保障方案
          </h3>
          <div
            class="flex flex-col gap-1 md:gap-3 mt-4 md:mt-6 xl:mt-8 xl:-ml-3 text-[10px] md:text-sm xl:text-base"
          >
            <p class="flex items-center gap-1 xl:gap-x-2 text-gray">
              <img
                class="w-5 h-5 xl:w-6 xl:h-6 -rotate-45"
                src="./src/images/logo-paw.svg"
                alt="paw"
              />
              設立
              <span class="text-pink-mid tracking-wider">100,000,000</span>
              醫療基金
            </p>
            <p class="flex items-center gap-1 xl:gap-x-2 text-gray">
              <img
                class="w-5 h-5 xl:w-6 xl:h-6 -rotate-45"
                src="./src/images/logo-paw.svg"
                alt="paw"
              />
              提供 <span class="text-pink-mid">20,000</span> 醫療補助
            </p>
            <p class="flex items-center gap-1 xl:gap-x-2 text-gray">
              <img
                class="w-5 h-5 xl:w-6 xl:h-6 -rotate-45"
                src="./src/images/logo-paw.svg"
                alt="paw"
              />
              合作
              <span class="text-pink-mid tracking-wider">200+</span>
              動物醫院
            </p>
          </div>
        </div>
      </div>
      <!-- carousel -->
      <div class="col-span-2 md:col-span-3 xl:col-span-6">
        <div class="news-carousel flex items-start overflow-hidden">
          <div class="shrink-0 flex flex-col items-center w-full xl:w-2/3">
            <div
              class="carousel-item carousel-item-1 policy-mainItem w-full rounded-[50px] overflow-hidden duration-1000"
            >
              <img
                class="w-full object-cover"
                src="./src/images/policy-1.jpg"
                alt="policy-1-image"
              />
            </div>
            <!-- pagination -->
            <div
              class="z-10 xl:col-span-4 flex items-center gap-4 mt-2 xl:mt-6"
            >
              <button class="carousel-prev">
                <img
                  class="w-5 xl:w-auto h-5 xl:h-auto rotate-180"
                  src="./src/images/icon-arrow-black.svg"
                  alt="carousel left-slide"
                />
              </button>
              <ul class="carousel-pagination flex gap-2">
                <li
                  class="carousel-pagination-1 w-2 h-2 bg-black border-black border-[1px] rounded-lg"
                ></li>
                <li
                  class="carousel-pagination-2 w-2 h-2 border-black border-[1px] rounded-lg"
                ></li>
                <li
                  class="carousel-pagination-3 w-2 h-2 border-black border-[1px] rounded-lg"
                ></li>
              </ul>
              <button class="carousel-next">
                <img
                  class="w-5 xl:w-auto h-5 xl:h-auto"
                  src="./src/images/icon-arrow-black.svg"
                  alt="carousel left-slide"
                />
              </button>
            </div>
          </div>
          <div
            class="carousel-item carousel-item-2 shrink-0 w-full xl:w-2/3 scale-[0.925] rounded-[50px] overflow-hidden duration-1000"
          >
            <img
              class="w-full object-cover"
              src="./src/images/policy-2.jpg"
              alt="policy-2-image"
            />
          </div>
          <div
            class="carousel-item carousel-item-3 shrink-0 w-full xl:w-2/3 scale-[0.925] rounded-[50px] overflow-hidden duration-1000"
          >
            <img
              class="w-full object-cover"
              src="./src/images/policy-3.jpg"
              alt="policy-3-image"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
