<link rel="stylesheet" href="../../dist/output.css" />
<section
  class="slogan pt-9 pb-[60px] bg-paws bg-no-repeat bg-center bg-contain"
>
  <div class="container mx-auto">
    <div class="grid grid-cols-12 gap-x-[30px] 2xl:mx-28">
      <div class="col-span-4 col-start-5 px-16 text-center font-bold">
        <img src="./src/images/slogan-image.png" alt="request=image" />
        <h2 class="my-10 text-pink-mid text-[32px]">我是喵立翰</h2>
        <h3 class="mb-2 text-black">為喵星人，護台灣！</h3>
        <h3 class="mb-6 text-black">毛小孩和我需要您的一票</h3>
        <img
          class="slogan-paws mx-auto"
          src="./src/images/slogan-paws.svg"
          alt="slogan-paws"
        />
      </div>
    </div>
  </div>
</section>
