<link rel="stylesheet" href="../../dist/output.css" />
<section
  class="slogan pt-6 pb-10 2xl:pt-9 2xl:pb-[60px] bg-paws bg-no-repeat bg-center bg-cover 2xl:bg-contain"
>
  <div class="container mx-auto">
    <div
      class="grid grid-cols-4 2xl:grid-cols-12 gap-x-6 2xl:gap-x-[30px] 2xl:mx-28"
    >
      <div
        class="col-span-2 2xl:col-span-4 col-start-2 2xl:col-start-5 flex flex-col 2xl:px-16 text-center font-bold"
      >
        <img
          class="slogan-image"
          src="../images/slogan-image.png"
          alt="request=image"
        />
        <h2 class="my-4 2xl:my-10 text-pink-mid 2xl:text-[32px]">我是喵立翰</h2>
        <h3
          class="mb-2 text-black text-xs 2xl:text-base font-normal 2xl:font-bold tracking-widest"
        >
          為喵星人，護台灣！
        </h3>
        <h3
          class="mb-4 2xl:mb-6 text-black text-xs 2xl:text-base font-normal 2xl:font-bold tracking-widest"
        >
          毛小孩和我需要您的一票
        </h3>
        <img
          class="slogan-paws mx-auto"
          src="../images/slogan-paws.svg"
          alt="slogan-paws"
        />
      </div>
    </div>
  </div>
</section>
