<link rel="stylesheet" href="../../dist/output.css" />
<!-- slogan -->
<section
  class="pt-6 xl:pt-9 pb-10 md:pb-12 xl:pb-[60px] bg-paws bg-fixed bg-top bg-cover xl:bg-contain"
>
  <div class="container mx-auto box-p">
    <div
      class="grid grid-cols-4 md:grid-cols-6 xl:grid-cols-12 gap-6 xl:gap-[30px]"
    >
      <div
        class="col-span-2 col-start-2 md:col-start-3 xl:col-start-6 flex flex-col md:-mx-2 xl:-mx-8"
      >
        <img src="../images/slogan-image.svg" alt="slogan-image" />
        <h2
          class="mt-4 xl:mt-10 text-pink-mid md:text-2xl xl:text-[32px] text-center font-bold tracking-wider"
        >
          我是喵立翰
        </h2>
        <h3
          class="mt-4 md:mt-6 xl:mt-10 text-black text-xs md:text-base xl:text-2xl text-center font-normal xl:font-bold tracking-wider"
        >
          為喵星人，護台灣！
        </h3>
        <h3
          class="mt-2 text-black text-xs md:text-base xl:text-2xl text-center font-normal xl:font-bold tracking-wider whitespace-nowrap"
        >
          毛小孩和我需要您的一票
        </h3>
        <ul class="paws flex gap-1 mt-4 xl:mt-6 mx-auto">
          <li>
            <img class="slogan-paw" src="../images/logo-paw.svg" alt="paw" />
          </li>
          <li>
            <img class="slogan-paw" src="../images/logo-paw.svg" alt="paw" />
          </li>
          <li>
            <img class="slogan-paw" src="../images/logo-paw.svg" alt="paw" />
          </li>
          <li>
            <img class="slogan-paw" src="../images/logo-paw.svg" alt="paw" />
          </li>
          <li>
            <img class="slogan-paw" src="../images/logo-paw.svg" alt="paw" />
          </li>
          <li>
            <img class="slogan-paw" src="../images/logo-paw.svg" alt="paw" />
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
